<label for="title">
	<f:translate key="tx_sjwishlist_domain_model_wish.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_sjwishlist_domain_model_wish.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="price">
	<f:translate key="tx_sjwishlist_domain_model_wish.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="minshare">
	<f:translate key="tx_sjwishlist_domain_model_wish.minshare" />
</label><br />
	<f:form.textfield property="minshare" /><br />
<label for="notes">
	<f:translate key="tx_sjwishlist_domain_model_wish.notes" />
</label><br />
	<f:form.textarea property="notes" cols="40" rows="15" /><br />
<label for="images">
	<f:translate key="tx_sjwishlist_domain_model_wish.images" />
</label><br />
	<f:form.upload property="images" /><br />