<f:layout name="Default" />

<f:section name="main">
	<div class="row">
		<f:for each="{wishes}" as="wish" iteration="iwish">
			<f:if condition="{wish.images.0}">
				<f:then>
					<div class="span2">
						<f:link.action action="show" arguments="{wish : wish}"  class="thumbnail">
							<f:image src="uploads/tx_nbowishlist/{wish.images.0}" alt="{resource.title}" width="170c" height="170c" />
						</f:link.action>
					</div>
					<div class="span4">
				</f:then>
				<f:else>
					<div class="span6">
				</f:else>
			</f:if>
			<h2>
				<f:link.action action="show" arguments="{wish : wish}" class="noColor">
					{wish.title} 
					<small>
						<f:if condition='{wish.statusMinPercent} == 100'>
							<f:then>Bereits verschenkt <i class="gifted icon-ok"></i></f:then>
							<f:else>
								<f:if condition="{wish.price}">
									<f:then>
										<f:format.currency currencySign="CHF" decimalSeparator="." thousandsSeparator="'">{wish.shares}</f:format.currency> von
										<f:format.currency currencySign="CHF" decimalSeparator="." thousandsSeparator="'">{wish.price}</f:format.currency>
									</f:then>
									<f:else>
										Preis nach eigenem Ermessen
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</small>
				</f:link.action>
			</h2>
			<div class="progress progress-striped active
			<f:if condition='{wish.statusMinPercent} < 20'><f:then>progress-danger</f:then><f:else><f:if condition='{wish.statusMinPercent} < 70'>progress-warning</f:if></f:else></f:if>
			<f:if condition='{wish.statusMinPercent} == 100'>progress-success</f:if>">
			  <div class="bar" style="width: {wish.statusMinPercent}%;"></div>
			</div>
			<p>
			<f:link.action action="show" arguments="{wish : wish}" class="noColor">
				<f:format.crop maxCharacters="250" append="&nbsp;...">{wish.description}</f:format.crop>
			</f:link.action>
			</p>
			<p class="btn-group">
				<br/>
					<f:if condition="{wish.hasShares} > 0">
						<f:then>
							<f:link.action action="new" controller="Participation" arguments="{wish : wish}"  class="btn">
								<i class="icon-pencil"></i> Geschenk anpassen
							</f:link.action>
						</f:then>
						<f:else>
							<f:if condition='{wish.statusMinPercent} < 100'>
								<f:link.action action="new" controller="Participation" arguments="{wish : wish}"  class="btn btn-success">
									<i class="icon-gift icon-white"></i> Schenken
								</f:link.action>
							</f:if>
						</f:else>
					</f:if>
				<f:link.action action="show" arguments="{wish : wish}"  class="btn btn">
				Details <i class="icon-arrow-right"></i>
			</f:link.action>
			</p>
	</div>
	<f:if condition="{iwish.index} % 2">
		</div><!-- start new row -->
		<div class="row">
	</f:if>
</f:for>
</div>
</f:section>